@model List<UserApp.Models.User>

<h1>Users List</h1>
<a href="@Url.Action("Create")">Create New User</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @* <a href = "@Url.Action("Edit",new {id = user.Id})">Edit</a> *@
                    <a href = "@Url.Action("Details",new {id = user.Id})">Details</a>
                    <form asp-action="Delete",method="post">
                        <button 
                        type="hidden" 
                        name="id" 
                        value="@user.Id" 
                        class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>